<h1>Show team</h1>

	<p>
		<strong>id_team:</strong>
		<%= element.id_team %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>logo:</strong>
		<%= element.logo %>
	</p>
	<p>
		<strong>short_name:</strong>
		<%= element.short_name %>
	</p>

<br>
<a href="/team/edit/<%= element.id %>">Edit</a>
<a href="/team/create">New</a>
<a href="/team">Back</a>
