<h1>Show statTeam</h1>

	<p>
		<strong>id_stat_team:</strong>
		<%= element.id_stat_team %>
	</p>
	<p>
		<strong>place:</strong>
		<%= element.place %>
	</p>
	<p>
		<strong>win:</strong>
		<%= element.win %>
	</p>
	<p>
		<strong>lose:</strong>
		<%= element.lose %>
	</p>
	<p>
		<strong>points:</strong>
		<%= element.points %>
	</p>
	<p>
		<strong>three_points:</strong>
		<%= element.three_points %>
	</p>
	<p>
		<strong>three_points_attemps:</strong>
		<%= element.three_points_attemps %>
	</p>
	<p>
		<strong>free_throws:</strong>
		<%= element.free_throws %>
	</p>
	<p>
		<strong>free_throws_attempted:</strong>
		<%= element.free_throws_attempted %>
	</p>
	<p>
		<strong>offensive_rebounds:</strong>
		<%= element.offensive_rebounds %>
	</p>
	<p>
		<strong>defensive_rebounds:</strong>
		<%= element.defensive_rebounds %>
	</p>
	<p>
		<strong>asits:</strong>
		<%= element.asits %>
	</p>
	<p>
		<strong>turnover:</strong>
		<%= element.turnover %>
	</p>
	<p>
		<strong>steals:</strong>
		<%= element.steals %>
	</p>
	<p>
		<strong>blocks:</strong>
		<%= element.blocks %>
	</p>
	<p>
		<strong>personal_fouls:</strong>
		<%= element.personal_fouls %>
	</p>
	<p>
		<strong>id_team:</strong>
		<%= element.id_team %>
	</p>

<br>
<a href="/statTeam/edit/<%= element.id %>">Edit</a>
<a href="/statTeam/create">New</a>
<a href="/statTeam">Back</a>
