<h1>joinPlayerTeamSeaon</h1>


<% if (result.length == 0) { %>
  <h4>
    0 joinPlayerTeamSeaon
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id_seaon</th>
			<th>id_player_info</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id_seaon %>
					</td>
					<td>
						<%= item.id_player_info %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/joinPlayerTeamSeaon/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/joinPlayerTeamSeaon/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/joinPlayerTeamSeaon/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/joinPlayerTeamSeaon/create">New</a>