<h1>Show playerInfo</h1>

	<p>
		<strong>id_player_info:</strong>
		<%= element.id_player_info %>
	</p>
	<p>
		<strong>age:</strong>
		<%= element.age %>
	</p>
	<p>
		<strong>position:</strong>
		<%= element.position %>
	</p>
	<p>
		<strong>numero:</strong>
		<%= element.numero %>
	</p>
	<p>
		<strong>weight:</strong>
		<%= element.weight %>
	</p>
	<p>
		<strong>height:</strong>
		<%= element.height %>
	</p>
	<p>
		<strong>experience:</strong>
		<%= element.experience %>
	</p>
	<p>
		<strong>headshot:</strong>
		<%= element.headshot %>
	</p>
	<p>
		<strong>minute_played:</strong>
		<%= element.minute_played %>
	</p>
	<p>
		<strong>two_points:</strong>
		<%= element.two_points %>
	</p>
	<p>
		<strong>three_points:</strong>
		<%= element.three_points %>
	</p>
	<p>
		<strong>block:</strong>
		<%= element.block %>
	</p>
	<p>
		<strong>turnover:</strong>
		<%= element.turnover %>
	</p>
	<p>
		<strong>player_infocol:</strong>
		<%= element.player_infocol %>
	</p>
	<p>
		<strong>id_team:</strong>
		<%= element.id_team %>
	</p>
	<p>
		<strong>id_player:</strong>
		<%= element.id_player %>
	</p>

<br>
<a href="/playerInfo/edit/<%= element.id %>">Edit</a>
<a href="/playerInfo/create">New</a>
<a href="/playerInfo">Back</a>
